<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/lib/reveal/css/reveal.css">
    <link rel="stylesheet" href="/lib/reveal/css/theme/white.css">
    <link rel="stylesheet" href="/lib/reveal/lib/css/zenburn.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="reveal">
        <div class="slides">
            <section
                    data-markdown
                    data-separator="^\n\n\n"
                    data-separator-vertical="^\n\n"
                    data-separator-notes="^Notes:"
                    data-charset="UTF-8">
                <script type="text/template">
                  {{{contents}}}
                </script>
            </section>
        </div>
    </div>

    <script type="application/javascript">const baseUrl = {{baseUrl}};</script>
    <script src="/lib/reveal/lib/js/head.min.js"></script>
    <script src="/lib/reveal/js/reveal.js"></script>
    <script src="/app/reveal.init.js"></script>
</body>
</html>
